[submodule ".obsidian/plugins/copy-absolute-path"]
	path = .obsidian/plugins/copy-absolute-path
	url = https://github.com/AMC-Albert/obsidian-copy-absolute-path
[submodule ".obsidian/plugins/click-unsupported-files"]
	path = .obsidian/plugins/click-unsupported-files
	url = https://github.com/AMC-Albert/obsidian-click-unsupported-files
[submodule ".obsidian/plugins/sidecars"]
	path = .obsidian/plugins/sidecars
	url = https://github.com/AMC-Albert/obsidian-sidecars
[submodule ".obsidian/plugins/obsidian-simple-banner"]
	path = .obsidian/plugins/obsidian-simple-banner
	url = https://github.com/AMC-Albert/obsidian-simple-banner
[submodule ".obsidian/plugins/hot-reload"]
	path = .obsidian/plugins/hot-reload
	url = https://github.com/pjeby/hot-reload.git
[submodule ".obsidian/plugins/obsidian-quick-dates"]
	path = .obsidian/plugins/obsidian-quick-dates
	url = https://github.com/AMC-Albert/obsidian-quick-dates
[submodule ".obsidian/plugins/obsidian-subversion"]
	path = .obsidian/plugins/obsidian-subversion
	url = https://github.com/AMC-Albert/obsidian-subversion
[submodule ".obsidian/plugins/obsidian-blender-build-manager"]
	path = .obsidian/plugins/obsidian-blender-build-manager
	url = https://github.com/AMC-Albert/obsidian-blender-build-manager
[submodule ".blender/user_resources"]
	path = .blender/user_resources
	url = https://github.com/AMC-Albert/user_resources
[submodule ".mpv"]
	path = .mpv
	url = https://github.com/AMC-Albert/mpv
[submodule ".obsidian/plugins/obsidian-fragments"]
	path = .obsidian/plugins/obsidian-fragments
	url = https://github.com/AMC-Albert/obsidian-fragments
[submodule ".obsidian/plugins/template-plugin"]
	path = .obsidian/plugins/template-plugin
	url = https://github.com/AMC-Albert/obsidian-template-plugin
[submodule ".obsidian/plugins/asset-increment"]
	path = .obsidian/plugins/asset-increment
	url = https://github.com/AMC-Albert/obsidian-asset-increment
