[submodule ".obsidian/plugins/copy-absolute-path"]
	path = .obsidian/plugins/copy-absolute-path
	url = https://github.com/AMC-Albert/obsidian-copy-absolute-path
[submodule ".obsidian/plugins/double-click-non-native"]
	path = .obsidian/plugins/double-click-non-native
	url = https://github.com/AMC-Albert/obsidian-double-click-non-native
[submodule ".obsidian/plugins/sidecars"]
	path = .obsidian/plugins/sidecars
	url = https://github.com/AMC-Albert/obsidian-sidecars
[submodule ".obsidian/plugins/obsidian-simple-banner"]
	path = .obsidian/plugins/obsidian-simple-banner
	url = https://github.com/AMC-Albert/obsidian-simple-banner
[submodule ".obsidian/plugins/hot-reload"]
	path = .obsidian/plugins/hot-reload
	url = https://github.com/pjeby/hot-reload.git
