# Ignore everything
*

# Except these
!.gitignore
!.obsidian/
!.obsidian/**
!!admin/
!!admin/**
!.blender/
!.blender/user_resources/
!.blender/user_resources/**

# But still ignore specific files within exceptions
.obsidian/workspace.json