[submodule ".obsidian/plugins/copy-absolute-path"]
	path = .obsidian/plugins/copy-absolute-path
	url = https://github.com/AMC-Albert/obsidian-copy-absolute-path
[submodule ".obsidian/plugins/click-unsupported-files"]
	path = .obsidian/plugins/click-unsupported-files
	url = https://github.com/AMC-Albert/obsidian-double-click-non-native
[submodule ".obsidian/plugins/sidecars"]
	path = .obsidian/plugins/sidecars
	url = https://github.com/AMC-Albert/obsidian-sidecars
[submodule ".obsidian/plugins/obsidian-simple-banner"]
	path = .obsidian/plugins/obsidian-simple-banner
	url = https://github.com/AMC-Albert/obsidian-simple-banner
[submodule ".obsidian/plugins/hot-reload"]
	path = .obsidian/plugins/hot-reload
	url = https://github.com/pjeby/hot-reload.git
[submodule ".obsidian/plugins/obsidian-video-fragments"]
	path = .obsidian/plugins/obsidian-video-fragments
	url = https://github.com/AMC-Albert/obsidian-video-fragments
[submodule ".obsidian/plugins/obsidian-quick-dates"]
	path = .obsidian/plugins/obsidian-quick-dates
	url = https://github.com/AMC-Albert/obsidian-quick-dates
[submodule ".obsidian/plugins/obsidian-subversion"]
	path = .obsidian/plugins/obsidian-subversion
	url = https://github.com/AMC-Albert/obsidian-subversion
[submodule ".obsidian/plugins/obsidian-fetch-blender-builds"]
	path = .obsidian/plugins/obsidian-fetch-blender-builds
	url = https://github.com/AMC-Albert/obsidian-fetch-blender-builds
[submodule ".blender/user_resources"]
	path = .blender/user_resources
	url = https://github.com/AMC-Albert/user_resources
