/* 'File Explorer Note Count' Styles */
.oz-explorer-root-nav-folder-title {
  color: var(--text-muted);
  font-size: var(--font-ui-medium);
  align-items: center;
}

.oz-explorer-root-nav-folder-title::before {
  content: "";
  padding-right: 0.5em;
  font-size: var(--font-ui-large);
}

/* No wrap for file extension tags with word breaks (.code-workspace) */
.nav-file-tag {
  white-space: nowrap;
}